// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.btn {

		&-primary {
			background-color: white;
			border-radius: 3px 3px 3px 3px;
			border-color: white;
			color: $brand-primary;
			font-family: $primary-font;
			font-weight: 700;
			font-size: 1.6rem;
			padding: 1.1rem 3.2rem;


			&:hover {
				background-color: darken(white, 15%);
				color: $brand-primary;
				font-family: $primary-font;
				font-weight: 700;
				font-size: 1.6rem;
				border-color: darken(white, 15%)!important;
			}

			&:active {
				background-color: darken(white, 15%)!important;
				color: $brand-primary !important;
				font-family: $primary-font !important;
				font-weight: 700;
				font-size: 1.6rem;
				border-color: darken(white, 15%)!important;
				box-shadow: 0 0 0 0.2rem rgba(0,0,0,.15)!important;
			}
		}

		&-secondary {
			background-color: $brand-primary;
			border-radius: 3px 3px 3px 3px;
			border-color: $brand-primary;
			color: white;
			font-family: $primary-font;
			font-weight: 700;
			font-size: 1.6rem;
			padding: 1.1rem 3.2rem;

			&:hover {
				background-color: lighten($brand-primary, 15%);
				color: white;
				border-color: lighten($brand-primary, 15%)!important;
			}

			&:active {
				background-color: lighten($brand-primary, 15%)!important;
				color: white;
				border-color: lighten($brand-primary, 15%)!important;
				box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2)!important;
			}
		}
	}
}
@media (max-width: 767px) {
	.btn {
		&-primary {
			background-color: white;
			border-radius: 3px 3px 3px 3px;
			border-color: white;
			color: $brand-primary;
			font-family: $primary-font;
			font-weight: 600;
			font-size: 2rem;
			padding: 1.5rem 4rem;

			&:hover {
				background-color: darken(white, 15%);
				color: $brand-primary;
				font-family: $primary-font;
				font-weight: 600;
				font-size: 2rem;
				border-color: darken(white, 15%)!important;
			}

			&:active {
				background-color: darken(white, 15%)!important;
				color: $brand-primary !important;
				font-family: $primary-font !important;
				font-weight: 600;
				font-size: 2rem;
				border-color: darken(white, 15%)!important;
				box-shadow: 0 0 0 0.2rem rgba(0,0,0,.15)!important;
			}
		}

		&-secondary {
			background-color: $brand-primary;
			border-radius: 3px 3px 3px 3px;
			border-color: $brand-primary;
			color: white;
			font-family: $primary-font;
			font-weight: 700;
			font-size: 1.8rem;
			padding: 1.5rem 4rem;

			&:hover {
				background-color: lighten($brand-primary, 15%);
				color: white;
				font-size: 1.8rem;
				border-color: lighten($brand-primary, 15%)!important;
			}

			&:active {
				background-color: lighten($brand-primary, 15%)!important;
				color: white;
				font-size: 1.8rem;
				border-color: lighten($brand-primary, 15%)!important;
				box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2)!important;
			}
		}
  }
}
