$brand-primary: #259595;
$brand-secondary: #273c4a;
$brand-grey: #f8f8f8;
$brand-light: #E4F7F7;
$brand-red:#e54038;

.bg{
  &-primary{
    background-color: $brand-primary!important;
  }
  &-secondary{
    background-color: $brand-secondary!important;
  }
  &-grey{
    background-color: $brand-grey;
  }
  &-lightteal{
    background-color: $brand-light;
  }
}

.brand{
  &-teal{
    color: $brand-primary;
  }
  &-red{
    color: $brand-red;
  }
&-grey{
  color: #e1e1e1;
}
}
